html,
body {
	font: 16px / 1.5 -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	/*font = shorthand voor fontsize, lineheight, font-family*/
	color: $global-textColor;
	background: $global-backgroundColor;
}

