$global-themeColor: #0a3bff;

$global-backgroundColor: #fafbff;

$global-backgroundColor-lighter: #f7f8ff;

$global-backgroundColor-darker: #f0f1f4;

$global-textColor: #2a2c34;

$global-borderColor: #c5d0fa;
